<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/lightslider.css">
    <script type="text/javascript" src="static/Jquery.js"></script>
    <script type="text/javascript" src="static/lightslider.js"></script>
    <title>HxH</title>
</head>
<body>
    <ul id="autoWidth" class="cs-hidden">
        <li class="item-a">
            <div class="container">
                <div class="carte">
                    <p class="hunter">GON FREECS</p>
                    <img src="static/gon.png" alt="gon" class="modele">
                    <div class="detail">
                        <h1>100</h1>
                    </div>
                    
                </div>
            </div>
        </li>
        <li class="item-b">
            <div class="container">
                <div class="carte">
                    <p class="hunter">KILUA ZOLDYCK</p>
                    <img src="static/kilua.png" alt="kilua" class="modele">
                    <div class="detail">
                        <h1>101</h1>
                    </div>
                    
                </div>
            </div>
        </li>
        <li class="item-c">
            <div class="container">
                <div class="carte">
                    <p class="hunter">SUKUNA</p>
                    <img src="static/sukuna.png" alt="kilua" class="modele">
                    <div class="detail">
                        <h1>200</h1>
                    </div>
                    
                </div>
            </div>
        </li>
        <li class="item-d">
            <div class="container">
                <div class="carte">
                    <p class="hunter">MERUEM</p>
                    <img src="static/meruem.jpg" alt="kilua" class="modele">
                    <div class="detail">
                        <h1>1000</h1>
                    </div>
                    
                </div>
            </div>
        </li>
        <li class="item-e">
            <div class="container">
                <div class="carte">
                    <p class="hunter">NOVACHRONO</p>
                    <img src="static/novachrono.png" alt="novachrono" class="modele">
                    <div class="detail">
                        <h1>2000</h1>
                    </div>
                    
                </div>
            </div>
        </li>
        <li class="item-f">
            <div class="container">
                <div class="carte">
                    <p class="hunter">GOTEN</p>
                    <img src="static/goten.png" alt="goten" class="modele">
                    <div class="detail">
                        <h1>80</h1>
                    </div>
                    
                </div>
            </div>
        </li>
    </ul>
    <script src="static/index.js"></script>
</body>
</html>